footer{
    /* background-color: #D9D9D9; */
    background-color: #050505;
    color: #ffff;
    /* background-image: linear-gradient(270deg,#ff4441,#ff3914 45%,#ff6d2a); */
    backdrop-filter: blur(100px);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    
}
footer *{
    padding: 8px 15%; 
    color: #9A9EA6;
}
footer a{
    padding: 0; 
    color: #9A9EA6;
    text-decoration: none;
}
footer a:hover{
    color: #337ab7;
    text-decoration: underline;
}

/* .redes-sociais-logos{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;

} */

/* .redes-sociais-logos a{
    padding: 8px 15%;
} */

footer img{
    height: 60px;
}



footer .parent {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  footer .child {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
    border-radius: 50%;
    margin: 0 5px;
    /* background-color: white; */
  }
  
  footer .child-1:hover {
    background-color: white;
    background-position: -100px 100px, -100px 100px;
    transform: rotate3d(0.5, 1, 0, 30deg);
    transform: perspective(180px) rotateX(60deg) translateY(2px);
    box-shadow: 0px 10px 10px #25d366;
  }
  footer .child-2:hover {
    background-color: white;
    background-position: -100px 100px, -100px 100px;
    transform: rotate3d(0.5, 1, 0, 30deg);
    transform: perspective(180px) rotateX(60deg) translateY(2px);
    box-shadow: 0px 10px 10px #ff00ff;
  }
  footer .child-3:hover {
    background-color: white;
    background-position: -100px 100px, -100px 100px;
    transform: rotate3d(0.5, 1, 0, 30deg);
    transform: perspective(180px) rotateX(60deg) translateY(2px);
    box-shadow: 0px 10px 10px #4267B2;
  }
  footer .child-4:hover {
    background-color: white;
    background-position: -100px 100px, -100px 100px;
    transform: rotate3d(0.5, 1, 0, 30deg);
    transform: perspective(180px) rotateX(60deg) translateY(2px);
    box-shadow: 0px 10px 10px #f14336;
  }
  
  footer .button {
    border: none;
    background-color: transparent;
    font-size: 40px;
    /* background-color: #337ab7; */
    /* margin-right: 0.15em;
    margin-bottom: 0.15em; */
  }
  
  footer .button:hover {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate3d(0px, 0px, 15px) perspective(180px) rotateX(-35deg) translateY(2px);
    border-radius: 50%;
  }


@media (max-width: 1000px){
    footer a{
        color: #337ab7;
    }
}
@media (max-width: 575px){
    footer a{
        color: #337ab7;
    }
}
@media (max-width: 500px){
    footer p{
        font-size: 12px;
    }
    footer a{
        color: #337ab7;
    }
}
@media (max-width: 415px){
    footer p{
        font-size: 12px;
    }
}
