@font-face {
  font-family: 'Corinthia';
  src: url('../fonts/Corinthia-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Corinthia';
  src: url('../fonts/Corinthia-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body{
    background-color: #050505;
    /* color: #D9D9D9; */
    color: #ffff;
    font-family: 'Corinthia', sans-serif;
}



body {
    /* background: #eee; */
    /* background: rgb(232 232 237/70%); */
    /* background: #f5f5f7; */
    /* background-color: rgba(63, 255, 20, 0.7); */
    /* font-family: Helvetica Neue, Helvetica, Arial, sans-serif; */
    font-size: 14px;
    /* color: #000; */
    margin: 0;
    padding: 0;
  }

   /*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-h2-inside-swiper=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
   .h2-inside-swiper{
    /* margin-top: 1%; */
    /* margin-bottom: 2%; */
  }

  /*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-h2-centralizado=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
  .h3-centralizado{
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: 600;
    color:rgb(255, 255, 255);
    background-color: #050505;
    margin-left: 5%;
    margin-right: 5%;
    


    /* background-color: aqua; */
  }

  
  @media (max-width: 1700px){
    .h3-centralizado{
      font-size: 3.1em;
    }
    .h2-inside-swiper{
      font-size: 3.1em;
    }
  }
  @media (max-width: 1000px){
    .h3-centralizado{
      font-size: 2.8em;
    }
    .h2-inside-swiper{
      font-size: 2.8em;
    }
  }
  @media (max-width: 700px){
    .h3-centralizado{
      font-size: 2.6em;
    }
    .h2-inside-swiper{
      font-size: 2.6em;
    }
  }
  @media (max-width: 500px){
    .h3-centralizado{
      font-size: 2.5em;
    }
    .h2-inside-swiper{
      font-size: 2.5em;
    }
  }
  @media (max-width: 415px){
    .h3-centralizado{
      font-size: 2.2em;
    }
    .h2-inside-swiper{
      font-size: 2.2em;
    }
  }